@import "./common.scss";

.rdp-button {
  $self: &;
  @include button-base;
  background-color: var(--rdp-theme-primary);
  color: var(--rdp-theme-text-on-primary);
  position: relative;
  border: 2px outset var(--rdp-theme-primary);

  &:active {
    border-style: inset;
  }

  &::before {
    content: "";
    @include button-base;
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
  }

  &:hover {
    &::before {
      background: rgba(255, 255, 255, 0.4);
    }
  }

  &--danger {
    @extend #{$self};
    background-color: var(--rdp-theme-error);
    border-color: var(--rdp-theme-error);
  }

  &--disabled {
    @extend #{$self};
    background-color: rgb(200, 200, 200);
    border-color: rgb(160, 160, 160);
    border-style: inset;

    &::before {
      cursor: auto;
    }

    &:hover {
      &::before {
        background: rgba(255, 255, 255, 0);
      }
    }
  }
}

.rdp-transparent-button {
  @include button-base;
  @include transparent-button;
}

.rdp-floating-action-button {
  $self: &;
  position: fixed;
  width: 75px;
  height: 75px;
  background-color: var(--rdp-theme-secondary);
  color: var(--rdp-theme-text-on-secondary);
  border: none;
  border-radius: 50%;
  box-shadow: 5px 5px 7px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;

  &:hover {
    opacity: 0.7;
  }

  &--disabled {
    @extend #{$self};
    background-color: rgb(200, 200, 200);
    cursor: auto;
  }
}
