$screenWidthBreakpoint: "only screen and (max-width : 700px)";

@mixin primary-background {
  background: var(--rdp-theme-primary);
  background: linear-gradient(
    45deg,
    var(--rdp-theme-primary),
    var(--rdp-theme-primary-gradient)
  );
  color: var(--rdp-theme-text-on-primary);
}

@mixin button-base {
  text-decoration: none;
  background: none;
  border: none;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: min-content;
  font-size: 1rem;
  color: inherit;
  font-family: inherit;
  padding: 5px 5px;
  cursor: pointer;
}

@mixin transparent-button {
  &:hover {
    background-color: rgba(128, 128, 128, 0.2);
  }
}
