@import "./common.scss";
@import "./section.scss";

@mixin dialog-separator {
  &:not(:last-child) {
    border-bottom: 1px solid rgb(100, 100, 100);
  }
}

@mixin dialog-size($width, $height) {
  width: $width;
  min-height: $height;
  max-height: 90vh;
  top: calc(50vh - (#{$height} / 2));
  left: calc(50vw - (#{$width} / 2));
  @media #{$screenWidthBreakpoint} {
    width: 90vw;
    left: 5vw;
  }
}

.rdp-dialog__backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  min-height: 100vh;
}

.rdp-dialog {
  $self: &;
  position: fixed;
  display: flex;
  flex-flow: column nowrap;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: white;
  @include section-box;
  @include section-shadow;

  &--s {
    @include dialog-size(250px, 180px);
    @extend #{$self};
  }

  &--m {
    @include dialog-size(400px, 300px);
    @extend #{$self};
  }

  &--l {
    @include dialog-size(600px, 450px);
    @extend #{$self};
  }

  &--fs {
    @include dialog-size(90vw, 90vh);
    @extend #{$self};
  }

  &__title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px 0 15px;
    @include dialog-separator;
  }

  &__title-close-button {
    @include transparent-button;
    @include button-base;
  }

  &__content {
    flex-grow: 1;
    padding: 0 5px 0 15px;
    @include dialog-separator;
  }

  &__actions {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-end;
    padding: 2vh 5px;

    :not(:first-child) {
      margin-left: 10px;
    }
  }
}
