@import "./common.scss";

.rdp-list {
  list-style: none;
  padding: 0;

  &__item {
    padding: 2vh 2vw 1vh 2vw;
    border-bottom: 1px solid rgb(200, 200, 200);
    display: grid;
    grid-template-areas:
      "btn-l text-p btn-r"
      "btn-l text-s btn-r";
    grid-template-columns: min-content 5fr min-content;
    grid-template-rows: 1fr min-content;
    grid-row-gap: 10px;

    &:hover {
      background-color: rgb(232, 232, 232);
    }
  }

  &__item-text {
    grid-area: text-p;
    font-weight: bold;

    &--secondary {
      grid-area: text-s;
    }
  }

  &__item-action-button {
    @extend %button-base;
    @extend %transparent-button;

    &:first-child {
      grid-area: btn-l;
    }

    &:last-child {
      grid-area: btn-r;
    }
  }
}
